<title>{{fileName}}</title>
<meta property="og:url" content="{{fileUrl}}">
<meta property="og:title" content="{{fileName}}">
<meta property="og:type" content="{{fileType}}.other"> 
<meta property="theme-color" content="{{themeColour}}">