<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- file type based metadata tags --}}

    {{{ _sections.head }}}

    <style>
        html {
            height: 100%;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #090B10;
        }

        body {
            padding: 0px !important;
            font-size: 14px;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            min-height: 100%;
            position: relative;
            line-height: 1.43;
            height: 100%;

        }

        .container {
            -webkit-overflow-scrolling: touch;
            text-align: center;
            padding: 0px 5px;
        }

        .content {
            display: inline-block;
            text-align: center;
            min-width: 250px;
            padding: 2em;
        }

        .box {
            position: relative;
            background-color: #0F111A;
            margin-top: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 2em;
            color: white;
            border-bottom: .25em solid #06070A;
            border-radius: .5em;
        }


        .btn {
            padding: .75em;
            border: none;
            background-color: #353b58;
            color: white;
            border-radius: .5em;
            border-bottom: .25em solid #23273b;
            display: block;
            text-decoration: none;
        }

        .btn:hover {
            background-color: #23273b;
            color: white;
        }

        .info-box {
            position: relative;
            background-color: #0F111A;
            margin: 1em 0 1em 0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 2em;
            border: .2em solid #23273b;
            border-radius: .5em;
            box-sizing: border-box;
        }

        .info-box h1 {

            font-weight: bold;
            margin-top: 0;
        }

        .info-box .info-header {
            color: white;
        }

        .info-box .info-stats {
            color: gray;
            margin: .2em;
            display: block;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="content" style="max-width: 100em; max-height: 90em; min-width: 50em;">
            {{!-- container for media if embeddable --}}
            <div id="media" class="media" style="width: 100%;">
                {{{body}}}
            </div>
            {{!-- container for file information and download option --}}
            <div id="file-information" class="info-box">
                {{!-- file name --}}
                <div class="info-header">
                    <h1>{{fileName}}</h1>
                </div>

                {{!-- file statisticas --}}
                <div class="info-stats">
                    <span class="info-stat-value">{{fileSize}}</span>
                </div>

                {{!-- download button --}}
                <a href="{{fileUrl}}" download="{{fileName}}" class="btn"><i class="fa fa-download"></i>
                    Download</a>
            </div>
        </div>
    </div>
</body>

</html>