<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- file type based metadata tags --}}

    {{{ _sections.head }}}

    {{!-- fontawesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/v4-shims.css">

    <link rel="stylesheet" href="styles/main.css">

</head>

<body>
    <div class="container">
        <div class="content">
            {{!-- if the file being served is of a HTML compatible format --}}
            {{#if Embed}}
            {{!-- display the file on the webpage using its respective template --}}
            <div class="media">
                {{{body}}}
            </div>
            {{/if}}
            {{!-- container for file information and download option --}}
            <div class="info-box">
                {{!-- file name --}}
                <div class="info-header">
                    <h1>{{fileName}}</h1>
                </div>
                {{!-- file statisticas --}}
                <div class="info-stats">
                    <span class="stat">{{fileSize}}</span>
                </div>
                {{!-- download button --}}
                <a class="button" href="{{fileUrl}}" download="{{fileName}}"><i class="fa fa-download"></i>
                    Download</a>
            </div>
        </div>
    </div>
</body>

</html>